$color-purple: rgb(189, 16, 195);
$color-purple-light-primary: rgb(205, 21, 144);
// 29%;
$color-purple-secondary: #d2177e;
//  58%,
$color-purple-light-tertiary: #f3a3a3;
$blue-light: #6183f3;
$default-color: #b3b3b3;
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$default-font-size: 1.6rem;
// body {
//   background-color: black;
// }
