.section-margin {
  margin-top: 20rem;
}
.text-margin-top {
  margin-top: 3rem;
}
.text-margin-top-high {
  margin-top: 4rem !important;
}
.margin-top-high {
  margin-top: 6rem;
}
.small-margin-top {
  margin-top: 2rem;
}
